@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Cinzel", serif;
}

body {
  background-color: #09090b; /* zinc-950 */
  color: #d4d4d8; /* zinc-300 */
}
